.inner{
    width: 1200px;
    margin: auto;
}
body{
    font-family: "微软雅黑";
}
.gg{
    position: relative;
}
.gg img{
    width: 100%;
}
.gg input{
    position: absolute;
    top:0;
    right: 0;
    width: 30px;
    height: 30px;
    border :0;
    background: rgba(0,0,0,0.1);
    color: black;
    font:30px/30px "" ;
}
.header-top{
    background: #F5F5F5;
    color: #666;
}
.header-top .inner .nav ul{
    float: left;
}
.header-top .inner .nav ol{
    float: right;
}
.header-top .inner .nav li{
    float: left;
    font:11px/35px "";
    margin:0 10px;
    position: relative;
    cursor: pointer;
}
.header-top .inner .nav ul li:first-of-type{
    margin-left: 0;
}
.header-top .inner .nav ol li:last-of-type{
    margin-right: 0;
}
.header-top .inner .nav li span{
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #666;
    display: inline-block;
}
.header-top .inner .nav li .wzdh{
    position: absolute;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 300px;
    display: none;
    z-index: 999;
    background: white;
}
.header-top .inner .nav li .wzdh div{
    float: left;
    line-height: 20px;
    text-align: center;
    width: 90px;
}
.header-top .nav .col2{
    color: #FF6600;
}
.col{
    color: #FF6600;
}
.header-top .inner .nav li .wzdh div+div{
    border-left: 1px solid #ccc;
    margin-left: 10px;
}
.header-top .inner .nav ol li .wzdh{
    right: 0;
}
.header-ct .logo{
    width: 180px;
    height: 90px;
}
.header-ct .dongtu{
    width: 160px;
    height: 100px;
}
.header-ct .ewm{
    width: 80px;
    height: 80px;
    border: 1px solid #c7c7c7;
}
.header-ct .search{
    padding-top: 30px;
}
.header-ct .logo img{
    width: 100%;
    height: 100%;
}
.header-ct .ewm img{
    width: 100%;
    height: 100%;
}
.header-ct .dongtu img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header-ct .logo,.dongtu,.search{
    float: left;
}
.header-ct .ewm{
    float: right;
    margin-top: 10px ;
}
.header-ct .search .text{
    font: 15px/40px "";
    color: #cccccc;
    width: 420px;
    padding-left: 7px;
    float: left;
    border: 3px solid #FF9900;
}
.header-ct .search .button{
    width: 120px;
    height: 46px;
    color: white;
    background:#FF9900 ;
    font:20px/40px "";
    text-align:center;
    border: 0;
    float: left;
    cursor: pointer;
}
.header-ct .search ul li{
    float: left;
    margin-right: 13px;
    color: #c7c7c7;
    font: 10px/25px "";
    cursor: pointer;
}
.header-ct .search ul li:hover{
    color:  #FF6600;
}
.header-bot .all{
    float: left;
    width: 190px;
    height: 38px;
    color: white;
    background: #FF9900;
    padding-left: 10px;
    box-sizing: border-box;
    font:bold 13px/38px "";
}
.header-bot .nav2{
    float: left;
}
.header-bot .poor{
    float: right;
}
.header-bot .nav2 ul li{
    float: left;
    font:bold 15px/38px "";
    color: #333;
    padding: 0 13px;
    cursor: pointer;
}
.header-bot .nav2 ul li:hover{
    color:  #FF6600
}
.banner{
    background: #9A1DF3;
}
.banner .list{
    float: left;
    position: relative;
}
.banner .list ul{
    float: left;
}
.banner .list ol{
    float: left;
}
.banner .list ul li{
    background:rgba(0,0,0,0.8) ;
    font:12px/32px "";
    width: 172px;
    padding: 0 10px 0 8px;
    height: 32px;
    cursor: pointer;
}
.banner .list ul li span{
    color: white;
}
.banner .list ul li em{
    color: #777;
}
.banner .list ul li:hover{
    background: white;
}
.banner .list ul li:hover span{
    color: black;
}
.banner .list ul li:hover em{
    color: black;
}
.banner .list ol{
    display: none;
    border: 1px solid black;
    position: absolute;
    left: 190px;
    z-index: 999;
}
.banner .list ol li{
    width: 1000px;
    font:bold 15px/32px "";
    text-align: center;
    background: #F2F2F2;
}
.banner .banner-lun{
    float: left;
    height: 448px;
    overflow: hidden;
    position: relative;
}
.banner .banner-lun .photo ul li{
    position: relative;
    height: 448px;
}
.banner .banner-lun .photo ul li .box1{
    position: absolute;
    top: 5px;
    right: 5px;
}
.banner .banner-lun .photo ul li .box2{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.banner .banner-lun .photo ul li div{
    width: 150px;
    height: 213px;
    background-color: rgba(255,255,255,.7);
    padding: 17px 0 19px 10px;
    box-sizing: border-box;
}
.banner .banner-lun .photo ul li .ban-tu{
    height: 100%;
}
.banner .banner-lun .photo ul li div img{
    width: 80%;
    height: 50%;
    margin-top: 30px;
    margin-left: 10px;
}
.banner .banner-lun .photo ul li div p:first-of-type{
    font: 14px/22px "";
    color: #333333;
}
.banner .banner-lun .photo ul li div p:last-of-type{
    font: 12px/22px "";
    color: #333333;
}
.banner .banner-lun .yuan{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -112px;
}
.banner .banner-lun .yuan ol li{
    float: left;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255,255,255,.7);
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    cursor: pointer;
}
.banner .banner-lun .yuan ol li.col3{
    background: #F60;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.banner .banner-lun .click{
    display: none;
}
.banner .banner-lun .click div{
    position: absolute;
    width: 30px;
    height: 64px;
    color: white;
    background: rgba(0,0,0,0.3);
    top:50%;
    margin-top: -32px;
    font:45px/64px "";
    cursor: pointer;
}
.banner .banner-lun .click .prev{
    left: 0;
}
.banner .banner-lun .click .next{
    right: 0;
}
.banner .banner-lun:hover .click{
    display: block;
}
.banner .user{
    float: right;
    margin-left: 5px;
    width: 159px;
    height: 448px;
    background-color: yellow;
}
.user div:first-of-type{
    width: 170px;
    height: 170px;
}
.user ul{
    width: 150px;
    height: 1000px;
    margin: 9px 10px;
    position: relative;
}
.user ul li{
    height: 96px;
    width: 150px;
}
.user ul li p{
    text-align: left;
    font:12px/20px "" ;
    color: #333;
}
.user ul li span{
    margin-right: 5px;
    color: #F60;
}
.user div:nth-of-type(2){
    height: 96px;
    width: 159px;
    background: white;
    overflow: hidden;
    cursor: pointer;
}
.user ul li p:hover{
    color: #F60;
}